# Archivos y carpetas de Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.db
*.pdb
*.dll
*.FileListAbsolute.txt
*.nuget.dgspec.json
*.GeneratedMSBuildEditorConfig.editorconfig

# Archivos temporales de compilación
*.log
*.tmp

# Configuración local
appsettings.Development.json
